<template>
  <q-page class="flex flex-center">
    <img src="https://i.cdn.turner.com/adultswim/big/img/2018/05/07/rick-and-morty.jpg" alt="img">
    <form @submit.prevent='func ()'>
      <q-select
        v-model="selectedEntity"
        float-label='Select content type'
        :options="entitySelectOptions"
        dark
        class="lol"
      />
      <q-input v-model="query" dark class="lol"/>
      <q-btn label='Buscar' @on='func ()' class="lol"/>
      <div v-if='items.length > 0'>
        <q-card color='black' id='cards' v-for='(item,index) in items' :key='index'>
          <q-card-title>
            {{ item.name }}
          </q-card-title>
          <q-card-separator></q-card-separator>
          <q-card-main>
            ID = {{item.id}} <br><br>
            Creación = {{item.created}} <br><br>
            URL = {{item.url}}<br><br>
          </q-card-main>
        </q-card>
      </div>
    </form>
  </q-page>
</template>

<style>
.lol{
  background-color: black;
  color: white;
  margin-left: 20px;
  margin-right: 20px;
  padding: 1%;
}
#cards{
  float: left;
  margin: 20px;
  border: 2px solid white;
  border-radius: 20px;
  text-align: center;
}
.button{
  border: 2px solid white;
  border-radius: 20px;
}
body{
  background-color: lightslategray;
  color: black;
  font-family: Verdana;
}
img{
  height: 300px;
  width: 400px;
}
</style>

<script>
export default {
  data () {
    return {
      items: [],
      query: null,
      selectedEntity: 'character',
      entitySelectOptions: [
        {
          label: 'Personas',
          value: 'character'
        },
        {
          label: 'Localizaciones',
          value: 'location'
        },
        {
          label: 'Episodios',
          value: 'episode'
        }
      ]
    }
  },
  methods: {
    func () {
      const entity = this.selectedEntity
      const query = this.query
      const url = 'https://rickandmortyapi.com/api/' + entity + '/?name=' + query
      this.$axios.get(url)
        .then((res) => {
          this.items = res.data.results
          console.log(res.data.results)
        })
        .catch((error) => {
          console.log('Algo malo pasó', error)
        })
    }
  }
}
</script>
